body,
html {
  width: 100%;
  margin: 0%;
  height: auto;
  text-align: center;
  font-family: sans-serif;
  background: url(https://st3.depositphotos.com/30362376/34926/i/450/depositphotos_349265100-stock-photo-blue-plain-background-fleecy-texture.jpg);
}
.signContainer {
  width: 500px;
  height: auto;
  display: inline-block;
  border-radius: 6px;
  margin-top: 5%;
  background: white;
  padding-bottom: 40px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.title {
  width: auto;
  height: auto;
  color: rgba(255, 0, 0, 0.603);
  border-bottom: 2px solid rgba(255, 0, 0, 0.603);
  display: inline-block;
  margin: 50px 0 30px 0;
}
.title p {
  margin: 5px;
  font-size: 30px;
  font-weight: bold;
}

.textFields,
.textArea {
  width: 80%;
  height: 33px;
  background: white;
  display: inline-block;
  margin: 20px 0 0 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgb(207, 207, 207);
}
.textInput {
  width: auto;
  height: 30px;
  display: flex;
  float: left;
  position: absolute;
}
#asterisk1,
#asterisk2,
#asterisk3,
#asterisk4 {
  color: rgb(237, 90, 107);
  margin-top: 0px;
}
.text {
  width: 370px;
  height: 28px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 20px;
  position: absolute;
}
.placeholder {
  width: auto;
  height: auto;
  position: relative;
  margin-top: 0px;
  display: flex;
  margin-left: 20px;
  margin-top: 0px;
  color: rgb(156, 156, 156);
  background: white;
  font-size: 18px;
}
.placeholderText {
  margin-top: 5px;
}
.textFields img {
  width: 25px;
  height: 25px;
  float: right;
  margin-top: 6px;
}
.textArea {
  height: 200px;
  margin-bottom: 30px;
}
.textArea input {
  width: 500px;
  height: 28px;
  border: none;
  outline: none;
  position: absolute;
}
.invalidInput {
  width: auto;
  height: auto;
  display: inline-block;
  margin-bottom: 30px;
  opacity: 0;
  /* float: left; */
}
.invalidInput p {
  width: 200px;
  margin: 0px;
  color: red;
}

#submitButton {
  width: 100px;
  height: 50px;
  background: rgb(237, 90, 107);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-top: 50px;
}
#submitButton:hover {
  background: rgb(233, 64, 84);
  transition: 0.5s ease-in-out;
}

.register {
  width: auto;
  height: auto;
  color: rgba(0, 0, 0, 0.692);
  font-weight: bold;
  cursor: pointer;
}
.register:hover {
  color: rgb(250, 94, 112);
  transition: 0.3s ease-in-out;
}

/* SignUp Fields */
/* BORDER */
.fields {
  width: 80%;
  height: 30px;
  background: transparent;
  display: flex;
  margin: 10px 0 0 10px;
  margin-left: 40px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid rgb(187, 184, 184);
}

/* TextField */
.textfield {
  width: 370px;
  height: 28px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  padding-left: 20px;
  position: absolute;
}

/* PlaceHolder */
.fields label {
  padding-left: 10px;
  color: lightslategrey;
  background: transparent;
  position: absolute;
  pointer-events: none;
  transition: 0.5ms;
}

.textfield:focus ~ label,
.textfield input:valid ~ label {
  color: rgb(241, 119, 140);
  transform: translate(-10px, -30px);
}
